<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>AutoSign</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favic.png}"/>
</head>
<body>

<nav style="text-align: center;">
    <ul>
        <li><img width="46" height="44"th:src="@{/images/AutoSignLogo3.png}" alt="Logo"></li>
        <li><a th:href="@{/}"class="active"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
        <li><a th:href="@{/history}"><i class="fa fa-history"></i> History</a></li>
        <li><a th:href="@{/contactus}" ><i class="fa fa-envelope"></i> Contacts</a></li>
        <li><a th:href="@{/aboutus}"><i class="fa fa-info"></i> About us</a></li>
        <li><a th:href="@{/donate}"><i class="fas fa-piggy-bank"></i> Donate</a></li>
        <li><a th:href="@{/homedark}"><i class="fa fa-loading"></i> Dark Mode</a></li>
    </ul>
</nav>
      
<div class="HomeMsg">
    <p><br></p>
    <h1> SignTube</h1> <img width="63.25" height="60"th:src="@{/images/AutoSignLogo3.png}" alt="Logo" class="center">
    <h2> Get your Youtube videos SignTubed! </h2>
</div>

<form action="#" th:action="@{/}" th:object="${home}" method="post">
    <p style="color:white; text-align: center"><br></br><br></br><br></br>URL: <input type="url" placeholder="Enter youtube URL" required = "required" th:field="*{URL}" pattern="https?://www.youtube.+"/></p>
    <p style="color:white; text-align: center">(For example: https://www.youtube.com)</p>
    <p style="text-align: center;"><br><input type="submit" value="Submit" /> <input type="reset" value="Reset"  /></p>
</form>

<h1 style="color:white; text-align:center"> Note to User </h1>
<p style="color:white; text-align:center"> 
      Welcome to AutoSign Language. We are currently in development stage and we are dealing with issues with the limited memory of Heroku free Dynos. <br>
      The progrom functions at best for 1 minute videos with captions. <br> 
      Errors can occur if multiple videos are submitted simultaneously or if the video is too long (more than 3 minutes). <br>
      To try our service at the moment we advise you to try these links: <br> <br>
      
      -https://www.youtube.com/watch?v=RwQnRWTWcVE <br>
      -https://www.youtube.com/watch?v=SCkc2cEHrGk <br>
      -https://www.youtube.com/watch?v=mophXhMJguw <br><br>
      
      These 5 minutes videos were translated without any problem and are already in our database so can be accessed easily. <br>
      You then can use a new video such as: <br> <br>
      
      -https://www.youtube.com/watch?v=v41uVjeDEAU <br> <br>
      
      Which will take a few minutes to process. <br> <br>
      
      Thank you! and have a good time learning sign language! <br><br>
      
      If you any queries or issues do not hesitate to contact us via the CONTACT US page.
      
</p>










